<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reddit Persona Generator{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'images/logo.png' %}" alt="App Logo" class="nav-logo">
            <div class="hamburger-menu" id="hamburger">
                <i class="ri-menu-line"></i>
            </div>
            <ul>
                <li><a href="{% url 'persona_generator:index' %}" class="active">Home</a></li>
                </ul>
            <div class="search">
                <input type="text" placeholder="search">
                <i class="ri-search-line"></i>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 AI Persona Generator. All Rights Reserved.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>